*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif !important;
}
body {
  background-color: #191919;
  font-size: 16px;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
